/*==========================================
=============== Global Imports ============
=======================================*/
/*==========================================
===============base Imports============
=======================================*/
/* Body
=========================*/
@font-face {
  font-family: 'Montserrat-Light';
  src: url("../fonts/Montserrat-Light.otf"); }
@font-face {
  font-family: 'Montserrat-Regular';
  src: url("../fonts/Montserrat-Regular.otf"); }
@font-face {
  font-family: 'Montserrat-ExtraBold';
  src: url("../fonts/Montserrat-ExtraBold.otf"); }
html *, body * {
  font-family: 'Montserrat-Light'; }

h1 {
  font-family: 'Montserrat-Regular'; }

h5 {
  line-height: 20px; }

/*==========================================
===============Layout Imports============
=======================================*/
/* Footer Block
========================*/
.footer-block {
  height: 200px;
  background-color: #2a2a2a; }

.foot-sponsor a img {
    position: relative;
    display: block;
    max-height: 75px;
    margin-left: -20px;
}

.foot-sponsor {
  margin-top: 60px; }

.social-foot h1 {
  color: #AA8181;
  font-family: 'Montserrat-Light';
  font-size: 2em; }

.social-icons i, .social-icons div {
  font-size: 2.5em;}

.social-icons .fa {
  padding-top: 15px;
  padding-left: 5px; }

.social-icons i:hover, .social-icons div:hover {
  background-color: #906262;
  cursor: pointer; }

.social-icons div {
  padding-left: 2px;
  display: inline-block; }

.social-icons a {
  text-decoration: none;
  color: #2A2A2A; }

.social-foot {
  margin-top: 18px;
}

.social-icons a div img {
  padding-bottom: 7px; }

.social-icons a:nth-child(3) div img {
  padding-left: 4px;
  max-height: 45px;
  width: auto;
  margin-bottom: 17px;
  margin-top: 10px; }

.music {
  margin-top: 40px;
  padding-left: 8.333%; }

.music h4, .music p a {
  color: #AA8181;
  margin-left: -5%;
  text-decoration: none; }

.music p a:hover, .music span a:hover {
  color: #7D5F5F; }

.music span a {
  color: #AD8B8B;
  display: block;
  margin-bottom: 2px;
  padding-left: 10px;
  text-decoration: none;
  font-size: .8em; }

p.copyright {
  color: rgba(170, 129, 129, 0.48);
 }

/* Navigation bar
=========================*/
.navbar {
  background-color: #272727;
  min-height: 100px;
  border: none; }

div#navbar {
  height: 100px !important; }

.navbar-nav li:hover {
   background-color: rgba(186, 69, 51, 0) !important; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  color: #fff;
  background-color: rgba(186, 69, 51, 0) !important; }

.navbar-default .navbar-nav > li > a {
  color: #fff;
  padding: 40px 30px; }

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  color: #fff;
  background-color: transparent; }

.navbar-brand > img {
  display: block;
  max-height: 75px; }

.navbar-default .navbar-nav > li > a {
  color: #fff;
  padding: 40px 15px; }

.sub-logo img {
  max-width: 50px;
  margin-top: 5px;
  margin-left: 10px; }

/*==subnav==*/
.subhead {
  background-color: #fff;
  max-height: 50px;
  height: 50px; }

ul.social_icons {
  vertical-align: middle;
  margin-bottom: 0;
  padding-top: 7.5px; }

ul.social_icons li {
  display: inline-block;
  padding-right: 15px;
  font-size: 1.8em; }

.social {
  float: right; }

.social_icons i {
  color: #565656; }

.social_icons i:hover {
  color: #333333; }

.tagline {
  padding-top: 5px;
  text-align: center; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  color: #fff;
background-color: rgba(186, 69, 51, 0) !important;
  max-height: 110px; }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  background: #174B8D;
  color: #fff; }
    background: #0c83e7;
    padding: 80px 0px;
    margin: 5px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
}

/*==========================================
===============base Imports============
=======================================*/
/*==========================================
===============helpers Imports============
=======================================*/
/*==========================================
===============pages Imports============
=======================================*/
/* Hero
==========================*/
.carousel-control.right, .carousel-control.left {
  background-image: none; }

.home-car {
  margin-top: -20px; }

.item img {
  max-height: 550px;
  height: 550px !important;
  max-width: unset !important;
  width: auto;
  margin: 0 auto; }

.home-car .item img {
  width: 100% !important;
  height: auto !important;
  max-height: unset !important; }

.container.logo img {
  height: 150px;
  width: auto;
  margin-top: -50px;
  margin-bottom: -25px; }

img.col-sm-6.second-logo {
  float: right; }

h1.video-header.col-xs-12 {
  text-align: center;
  font-size: 3em;
  margin-bottom: 20px;
  margin-top: 0; }

.carousel {
  height: 575px; }

.back-fade {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); }

/* Main Block
========================*/
.main-page {
  z-index: 9999;
  position: relative;
  background-color: #fff; }

/* Video Block
========================*/
/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden; }

#cboxWrapper {
  max-width: none; }

#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%; }

#cboxMiddleLeft, #cboxBottomLeft {
  clear: left; }

#cboxContent {
  position: relative; }

#cboxLoadedContent {
  overflow: auto;
  -webkit-overflow-scrolling: touch; }

#cboxTitle {
  margin: 0; }

#cboxLoadingOverlay, #cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
  cursor: pointer; }

.cboxPhoto {
  float: left;
  margin: auto;
  border: 0;
  display: block;
  max-width: none;
  -ms-interpolation-mode: bicubic; }

.cboxIframe {
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
  padding: 0;
  margin: 0; }

#colorbox, #cboxContent, #cboxLoadedContent {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; }

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay {
  background: #000;
  opacity: 0.9;
  filter: alpha(opacity=90); }

#colorbox {
  outline: 0; }

#cboxContent {
  margin-top: 20px;
  background: #000; }

.cboxIframe {
  background: #fff; }

#cboxError {
  padding: 50px;
  border: 1px solid #ccc; }

#cboxLoadedContent {
  border: 5px solid #000;
  background: #fff; }

#cboxTitle {
  position: absolute;
  top: -20px;
  left: 0;
  color: #ccc; }

#cboxCurrent {
  position: absolute;
  top: -20px;
  right: 0px;
  color: #ccc; }

#cboxLoadingGraphic {
  background: url(../images/loading.gif) no-repeat center center; }

/* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {
  border: 0;
  padding: 0;
  margin: 0;
  overflow: visible;
  width: auto;
  background: none; }

/* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {
  outline: 0; }

#cboxSlideshow {
  position: absolute;
  top: -20px;
  right: 90px;
  color: #fff; }

#cboxPrevious {
  position: absolute;
  top: 50%;
  left: 5px;
  margin-top: -32px;
  background: url(../images/controls.png) no-repeat top left;
  width: 28px;
  height: 65px;
  text-indent: -9999px; }

#cboxPrevious:hover {
  background-position: bottom left; }

#cboxNext {
  position: absolute;
  top: 50%;
  right: 5px;
  margin-top: -32px;
  background: url(../images/controls.png) no-repeat top right;
  width: 28px;
  height: 65px;
  text-indent: -9999px; }

#cboxNext:hover {
  background-position: bottom right; }

#cboxClose {
  position: absolute;
  top: 5px;
  right: 5px;
  display: block;
  background: url(../images/controls.png) no-repeat top center;
  width: 38px;
  height: 19px;
  text-indent: -9999px; }

#cboxClose:hover {
  background-position: bottom center; }

.video-block img {
  width: 100%;
  height: auto; }

.video-block {
  margin-bottom: 40px; }

.video-title {
  width: 100%;
  text-align: center;
  font-size: 1.1em;
  color: #fff;
  background-color: #174B8D;
  padding: 10px 15px; }

a.vimeo.cboxElement {
  text-decoration: none;
  outline: none; }

.center-vid {
  display: block;
  width: 100%;
  position: relative;
  margin-top: 80px; }

.video-block i {
  display: block;
  position: relative;
  width: 100%;
  font-size: 6em;
  text-align: center;
  margin-bottom: 54px;
  margin-top: -138px;
  color: #fff;
  opacity: .7; }

.video-block:hover i {
  opacity: .9; }

.videos .title {
  font-size: 1em; }

.videos .dinner-button {
  margin-bottom: 10px;
  margin-left: -8px;
  margin-right: -7px; }

.videos figure:hover > a .pos .title {
  font-size: 1em !important;
  padding-bottom: 25% !important;
  padding-top: 25% !important; }

/* Dinners Block
========================*/
.dinners-block {
  text-align: center;
  margin-top: 40px; }

.dinners-block h1 {
  margin-bottom: 30px;
  margin-top: 0; }

.dinners-block h5 {
  padding: 0 15%;
  margin-bottom: 20px; }

.dinner-button img {
  width: 100%;
  height: auto; }

.vid-hover {
  overflow: hidden; }

/* Zoom In #1 */
.vid-hover figure img {
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out; }

.vid-hover figure:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  opacity: .4;
  cursor: pointer; }

figure {
  margin: 0;
  padding: 0;
    background: #BA4533;
  overflow: hidden; }

.title {
  position: absolute;
  left: 0;
  bottom: 0px;
  z-index: 1;
  display: block;
  margin: 0;
  padding: 10px 0;
  color: white;
  font-size: 22px;
  text-decoration: none;
  text-align: center;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  opacity: 1;
  font-family: 'Montserrat-Regular';
  width: 100%;
    background-color: rgba(186, 69, 51, 0.7); }

figure:hover > a .pos .title {
  padding-bottom: 50%;
  padding-top: 50%;
  font-size: 30px;
  opacity: 1;
  z-index: 1;
     background-color: rgba(186, 69, 51, 0.33); }

.pos {
  position: relative; }

/* Location Block 
==========================*/
div#map {
  height: 320px;
  width: 100%; }

.about-block h1 {
  margin-top: 80px; }

.gm-style-cc, .gmnoprint {
  display: none !important; }

.over-location {
  position: absolute;
  z-index: 50;
  width: 100%;
  text-align: center;
  height: 320px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff; }

.over-location h1 {
  font-size: 6em; }

.over-location h2 {
  margin-top: 60px;
  text-shadow: 1px 1px 2px #000;
  transition: color ease .25s; }

.over-location hr {
  margin-top: 70px; }

.over-location h3 {
  margin-top: 30px; }

.location-block {
  margin-top: 80px; }

.loc-link, .loc-link:hover {
  color: #fff;
  text-decoration: none; }

/* About Block
========================*/
.about-block {
  margin-top: 20px;
  text-align: center; }

.about-block .btn {
  margin-top: 45px;
  padding: 12px 24px;
    background-color: #BA4533;
  color: #fff;
  -webkit-transition: background-color .2s ease-out;
  -moz-transition: background-color .2s ease-out;
  -o-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out; }

.over-location .btn {
  margin-top: 10px;
  padding: 7px 45px;
     background-color: #BA4533;
  color: #fff;
  -webkit-transition: background-color .2s ease-out;
  -moz-transition: background-color .2s ease-out;
  -o-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out; }

.about-block .btn:hover, .over-location .btn:hover, .au-btn:hover {
  background-color: #8c4401;
  color: #fff; }

.fred-para {
  padding-top: 50px; }

.au-btn {
  padding: 12px 24px;
     background-color: #BA4533;
  color: #fff;
  -webkit-transition: background-color .2s ease-out;
  -moz-transition: background-color .2s ease-out;
  -o-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out; }

/* Headers
========================*/
.over-head {
  position: absolute;
  z-index: 50;
  width: 100%;
  text-align: center;
  height: 250px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff; }

/*================================================
==================================================
==================================================
=               About page                      =
==================================================
==================================================
==================================================*/
.header-about {
  width: 100%;
  height: 250px;
  text-align: center;
    background-image: url("../imagegallery/2011/as64.jpg");
    background-position: 0px 52%;
  margin-top: -20px;
  background-size: cover;
  background-repeat: no-repeat; }

  .header-about.fred {
  width: 100%;
  height: 250px;
  text-align: center;
  background-image: url("../img/AU2014webready/36.jpg");
    background-position: 0px 25%;
  margin-top: -20px;
  background-size: cover;
  background-repeat: no-repeat; }

.header-about h1 {
  color: #fff;
  font-size: 5em;
  padding-top: 86.5px; }

.welcome-head, .founder h1 {
  text-align: center;
  font-size: 4em;
  margin-bottom: 20px; }

.purpose {
  width: 100%;
  background-image: url("../img/AU2014webready/2.jpg");
  height: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.purpose h4 {
  color: #fff;
  font-size: 2em;
  text-align: center;
  padding-top: 90px;
  text-transform: uppercase; }

.founder, .welcome {
  margin-bottom: 80px;
  margin-top: 60px; }

.founder {
  margin-left: 15px;
  margin-right: 15px; }

.format li {
  padding-bottom: 5px; }

.header-couns {
  width: 100%;
  height: 250px;
  text-align: center;
background-image: url("../img/AU2014webready/49.jpg");
    background-position: right 12%;
  background-size: cover;
  margin-top: -20px;
  background-repeat: no-repeat; }

.over-head h1 {
  color: #fff;
  font-size: 5em;
  padding-top: 66.5px; }

#image {
  line-height: 2.3em;
  margin-top: 80px 0;
  list-style-image: url(../images/Basketball-list.png); }

.list-header {
  text-align: center;
  margin-bottom: 40px; }

.off-home {
  margin-top: 40px; }

section.container {
  margin-top: 80px;
  margin-bottom: 80px; }

.couns-media {
  width: 100%;
  height: 250px;
  text-align: center;
  background-image: url("../img/AU2014webready/2-5.jpg");
  background-position: right 18%;
  background-size: cover;
  margin-top: -20px;
  background-repeat: no-repeat; }

.header-player {
  width: 100%;
  height: 250px;
  text-align: center;
  background-image: url("../img/AU2014webready/65.jpg");
  background-position: right 18%;
  background-size: cover;
  margin-top: -20px;
  background-repeat: no-repeat; }

/*================================================
==================================================
==================================================
=               Media page                    =
==================================================
==================================================
==================================================*/
.header-media {
  width: 100%;
  height: 250px;
  text-align: center;
  background-image: url("../img/AU2014webready/57.jpg");
  background-position: right 48%;
  background-size: cover;
  margin-top: -20px;
  background-repeat: no-repeat; }

.header-media h1 {
  color: #fff;
  font-size: 5em;
  padding-top: 86.5px; }

.photos .dinner-button {
  margin-bottom: 10px !important;
  padding: 0 5px !important; }

.photos .title {
  font-size: 1.2em; }

.photos figure:hover > a .pos .title {
  font-size: 1.8em;
  padding-bottom: 40% !important; }

.videos figure:hover > a .pos .title {
    font-size: 1em !important;
    padding-bottom: 35% !important;
    padding-top: 50% !important;
}
li.dropdown.active.open {
    height: 45px;
}
a.dropdown-toggle {
    background: unset !important;
}.over-location h2:hover {
    color: #BA4533;
}
/*================================================
==================================================
==================================================
=               contact page                   =
==================================================
==================================================
==================================================*/
.header-contact {
  width: 100%;
  height: 250px;
  text-align: center;
  background-image: url("../img/headers/head7.png");
  background-position: 0 75%;
  margin-top: -20px;
  background-size: cover;
  background-repeat: no-repeat; }

.header-contact h1 {
  color: #fff;
  font-size: 5em;
  padding-top: 86.5px; }

.well {
  margin-top: 80px !important;
  margin-bottom: 80px !important; }

.reach-out {
  margin-top: 170px; }

.cost li {
  padding-left: 5%; }

.cost {
  margin-bottom: 80px; }

.online-app, .mail-app {
  text-align: center; }

.pay-icons .fa {
  margin-bottom: 15px;
  font-size: 1.5em; }

.online-app {
  border-right: 1px solid #ccc;
  margin-bottom: 80px; }

.cost-img img {
  max-width: 100%;
  margin-top: 20px; }

.right-app {
  margin-bottom: 80px; }

.reg-p {
  margin-top: 40px;
  margin-bottom: 80px;
  padding: 0 5%;
  text-align: center; }

i.fa.fa-asterisk {
  font-size: 3em;
  color: #ccc; }

.step h2 {
  margin-top: 5px !important;
  text-align: right !important; }

.paypal {
  text-align: left !important; }

.header-reg {
  width: 100%;
  height: 250px;
  text-align: center;
  background-image: url("../img/AU2014webready/18.jpg");
  background-position: right 75%;
  background-size: cover;
  margin-top: -20px;
  background-repeat: no-repeat; }

.owl-item {
    width: auto !important;
}
#sync2 .item{
    background: #C9C9C9;
    padding: 10px 0px;
    margin: 5px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}
#sync2 .item h1{
  font-size: 18px;
}
#sync2 .synced .item{
  background: #0c83e7;
}
/*TOGGLE BUTTON
===================*/
.switch-button {
    width: 400px;
    height: 40px;
    text-align: center;
    position: relative;
    left: 50%;
    -webkit-transform: translate3D(-50%, 0, 0);
    -ms-transform: translate3D(-50%, 0, 0);
    transform: translate3D(-50%,0,0);
    will-change: transform;
    z-index: 197 !important;
    cursor: pointer;
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
  
    border-left: 5px solid #BA4533;
    border-right: 5px solid #BA4533;
    margin-top:50px;
}
.switch-button-case {
    display: inline-block;
    background: none;
    width: 49%;
    height: 100%;
    color: #000;
    position: relative;
    border: none;
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-bottom: 1px;
}
.switch-button-case:hover {
  color: grey;
  cursor: pointer;
}
.switch-button-case:focus {
  outline: none;
}
.switch-button .active {
    color: #fff;  
     background-color: #BA4533;
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: -1;
    -webkit-transition: .3s ease-out all;
    transition: .3s ease-out all;
}
.switch-button .active-case {
    color: #fff;
}



.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background: #151515;
    color: #fff;
}
.photos h1, .videos h1 {
    text-align: center;
    margin: 30px 0;
}

/*FINAL REV
===========*/






.logo-block img {
    height: 125px;
    padding: 35px 5px;
        transition: border-color cubic-bezier(0.07, -0.4, 0.25, 1) .25s;
            -webkit-transition: border-color cubic-bezier(0.07, -0.4, 0.25, 1) .25s;
                -moz-transition: border-color cubic-bezier(0.07, -0.4, 0.25, 1) .25s;

}
.logo-block a:nth-child(2) img{
    height: 125px;
        padding: 15px 10px;
        padding-bottom:0;
}
.logo-block {
    text-align: center;
}
.au-banner {
    width: 100%;
    z-index: 9999;
    display: block;
    position: relative;
    height: 125px;
}
.navbar-nav>li {
    float: none;
    display: inline-block;
}
.navbar-nav {
    float: none !important;
    margin: 0;
    text-align: center !important;
}
.navbar {
    background-color: #BA4533 !important;
    min-height: 100px;
    border: none;
        -moz-box-shadow: 0px 1px 36px -6px #000;
    -webkit-box-shadow: 0px 1px 36px -6px #000; 
    box-shadow: 0px 1px 36px -6px #000;
}
.navbar-nav li:hover {
    background-color: unset !important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #2a2a2a !important;
    background-color: unset !important;
    max-height: 20px;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
    padding: 10px 20px;
    transition: color ease .25s;
    -webkit-transition: color ease .25s;
      -moz-transition: color ease .25s;
}
.navbar-nav li:hover a {
    background-color: rgba(186, 69, 51, 0) !important;
}
div#navbar {
    height: 45px !important;
}
.social_icons i {
    color: #fff;
    font-size: .8em;
        transition: color ease .25s;
    -webkit-transition: color ease .25s;
      -moz-transition: color ease .25s;
}
ul.social_icons {
    vertical-align: middle;
    margin-bottom: 10px;
    padding-top: 0;
}
.social {
    float: none;
    text-align: center;
}
ul.social_icons li {
    display: inline-block;
    padding-right: unset;
    font-size: 1.8em;
    width: 30px;
}
div#navbar {
    height: 40px !important;}

.logo-block a:hover img {
    border-top: solid 4px #fff;
    padding-top: 31px !important;
}
.logo-block a:nth-child(2):hover img{
        padding-top:11px !important;
}
.social {
    margin-bottom: 5px;
}
    .social-foot .fa-facebook {
    color: #3b5998;
}
.social-icons i:hover, .social-icons div:hover {
    background-color: rgb(255, 255, 255);
    color: #2A2A2A;
    }
    .social-foot .fa-twitter {
    color: #4099FF;
}
.social-foot i {
           transition: color ease .25s;
    -webkit-transition: color ease .25s;
      -moz-transition: color ease .25s;
}
.couns-list h1 {
    text-align: center;
    text-transform: uppercase;
        font-size: 3em;
            margin-top: 0;s
}.couns-list h4 {
    color: #A2A2A2;
}.couns-list i.fa.fa-asterisk {
    font-size: 1em;
    padding-left: 20px;
    vertical-align: super;
    padding-right: 5px;
}


li.dropdown.active.open {
    height: 40px;
}
.couns-list div.col-lg-3 h3 {
    text-align: center;
    background-color: #BA4533;
    padding: 20px 0px;
    font-size: 1em;
    color: #FFF;
    border-radius: 5px;
    text-transform: uppercase;
}


.tooltip-inner{
  background-color:#ccc;
   color: #2a2a2a;
   max-width:250px;

}

.tooltip.top .tooltip-arrow {

border-top-color:#ccc;}
.tooltip-inner {
    padding: 12px 20px;
}
.header-reg .over-head {
    background: rgba(0, 0, 0, 0.4);
}

/*++========================
============================
=======REVISIONS==============
======================*/

/* slider
==========================*/

.slick-slide img {
    display: block;
    height: 500px;
    width: auto;
}

.slider-nav img {
    display: block;
    height: 100px;
    max-width: 100%;
    width: auto;
    margin: 0 auto;
}

.contact-photog {
    font-size: 1.5em;
    padding:15px 12px;
}
.photog-info h4 {
    padding: 12px 15px;
    color: #ccc;
    font-size: 1.2em;
}
.slider-nav {
  padding-top:40px;
  padding-bottom:80px;
}
.your-class.slider.off-media-slider {
    margin-top: 40px;
}
.staff h3{
  text-align: center;
}
.player-wrapper {
    width: 100%;
    height: 400px;
    line-height: 3em;
    overflow: auto;
    padding: 30px;
    background-color: #2a2a2a;
    border: 25px solid #2a2a2a;
    border-radius: 10px;
}
.couns-list .player-wrapper h3{
      box-shadow: 0px 0px 3px 0px #000 !important;
      -moz-box-shadow: 0px 0px 3px 0px #000 !important;
      -webkit-box-shadow: 0px 0px 3px 0px #000 !important;
}

::-webkit-scrollbar{
  width:5px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(42, 42, 42, 0.52);
}
::-webkit-scrollbar-track {
    background-color: rgba(204, 204, 204, 0.51);
}



.over-block {
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: block;
    position: absolute;
}

.over-block:hover {
    cursor: pointer;
}















/* Modal Base CSS */
.scotch-overlay
{
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;

    opacity: 0;

    width: 100%;
    height: 100%;

    -webkit-transition: 1ms opacity ease;
       -moz-transition: 1ms opacity ease;
        -ms-transition: 1ms opacity ease;
         -o-transition: 1ms opacity ease;
            transition: 1ms opacity ease;

    background: rgba(0,0,0,.6);
}

.scotch-modal
{
    position: absolute;
    z-index: 9999;
    top: 50%;
    left: 50%;

    opacity: 0;

    width: 94%;
    padding: 24px 20px;

    -webkit-transition: 1ms opacity ease;
       -moz-transition: 1ms opacity ease;
        -ms-transition: 1ms opacity ease;
         -o-transition: 1ms opacity ease;
            transition: 1ms opacity ease;

    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

    border-radius: 2px;
    background: #fff;
}

.scotch-modal.scotch-open.scotch-anchored
{
    top: 20px;

    -webkit-transform: translate(-50%, 0);
       -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
         -o-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
}

.scotch-modal.scotch-open
{
    opacity: 1;
}

.scotch-overlay.scotch-open
{
    opacity: 1;

}

/* Close Button */
.scotch-close
{
    font-family: Helvetica,Arial,sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 12px;

    position: absolute;
    top: 5px;
    right: 5px;

    padding: 5px 7px 7px;

    cursor: pointer;

    color: #fff;
    border: 0;
    outline: none;
    background: #e74c3c;
}

.scotch-close:hover
{
    background: #c0392b;
}

/* Default Animation */

.scotch-overlay.fade-and-drop
{
    display: block;

    opacity: 0;
}

.scotch-modal.fade-and-drop
{
    top: -300%;

    opacity: 1;

    display: block;
}

.scotch-modal.fade-and-drop.scotch-open
{
    top: 650px;

    -webkit-transition: 250ms top 250ms ease;
       -moz-transition: 250ms top 250ms ease;
        -ms-transition: 250ms top 250ms ease;
         -o-transition: 250ms top 250ms ease;
            transition: 250ms top 250ms ease;
}

.scotch-modal.fade-and-drop.scotch-open.scotch-anchored
{

    -webkit-transition: 250ms top 250ms ease;
       -moz-transition: 250ms top 250ms ease;
        -ms-transition: 250ms top 250ms ease;
         -o-transition: 250ms top 250ms ease;
            transition: 250ms top 250ms ease;
}

.scotch-overlay.fade-and-drop.scotch-open
{
    top: 0;

    -webkit-transition: 250ms opacity ease;
       -moz-transition: 250ms opacity ease;
        -ms-transition: 250ms opacity ease;
         -o-transition: 250ms opacity ease;
            transition: 250ms opacity ease;

    opacity: 1;
}

.scotch-modal.fade-and-drop
{
    -webkit-transition: 250ms top ease;
       -moz-transition: 250ms top ease;
        -ms-transition: 250ms top ease;
         -o-transition: 250ms top ease;
            transition: 250ms top ease;
}

.scotch-overlay.fade-and-drop
{
    -webkit-transition: 250ms opacity 250ms ease;
       -moz-transition: 250ms opacity 250ms ease;
        -ms-transition: 250ms opacity 250ms ease;
         -o-transition: 250ms opacity 250ms ease;
            transition: 250ms opacity 250ms ease;
}

/* Demo Styles */
html
{
    box-sizing: border-box;
}

*
{
    box-sizing: inherit;
}

body
{
    font-family: Helvetica,Arial,san-serif;
    font-size: 16px;

    margin: 0;
    padding: 0;
}



.trigger-button
{
    font-size: 17px;

    position: relative;

    display: block;

    margin: auto;
    padding: 10px 30px;

    cursor: pointer;

    color: #fff;
    border: 0;
    border-radius: 3px;
    outline: none;
    background: #2ecc71;
    box-shadow: 0 5px 1px #27ae60;
}

.trigger-button:hover
{
    background: #27ae60;
    box-shadow: 0 5px 1px #145b32;
}

.trigger-button:active
{
    border-top: 5px solid white;
    box-shadow: none;
}
.modal-info {
    padding: 25px;
}
.modal-info h1 {
    text-align: center;
}




 .slick-slide img {
    opacity: .6;
       transition: opacity ease .25s;
}
 .slick-center img {
    opacity: 1 !important;
    transition: opacity ease .25s;
}

h4.copy {
    color: rgba(0, 0, 0, 0.42);
    display: block;
    position: absolute;
    bottom: 0;
    font-weight: 700;
    left: 10px;
    font-size: 1.8em;
}

div#here{
  margin-top:40px;
}

.modal-info .form-group {
    padding: 0 10px;
}
.btn-primary {
    color: #fff;
    border-color: rgb(186, 69, 51);
    background-color: rgb(186, 69, 51);
    padding: 5px 50px;
    transition: background-color ease .25s;
}
.btn-primary:hover{
      color: #fff !important;
    border-color: rgb(171, 91, 79) !important;
    background-color: rgb(171, 91, 79) !important;
}

.modal-info p {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 1.3em;
}



.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
background-color: rgba(186, 69, 51, 0) !important;
}
.navhome{
  margin-bottom:0;
}
#homeSlide img{ 
  height: 650px !important;
  margin-top: 0px !important;
}

.social_icons i.fa-twitter:hover {
    color: #4099FF;
}
.social_icons i.fa-facebook:hover {
    color: #3b5998;
}
.social_icons i.fa-instagram:hover {
color:#3f729b;
}

.social-foot i.fa-instagram{
  color:#3f729b;
  transition:color ease .25s;
}
.social-foot i.fa-instagram:hover{
  color:#2a2a2a;
}
.social-icons .fa {
    padding-top: 12px;
    }
/*LAST REVISIONS
====================*/

.au-banner {
    width: 100%;
    z-index: 9999;
    display: block;
    position: relative;
    height: 100px;
}
.logo-block {
    text-align: center;
    height: 100px;
}
.logo-block img {
    height: 100px;
    padding: 32px 0px;
    transition: border-color cubic-bezier(0.07, -0.4, 0.25, 1) .25s;
    -webkit-transition: border-color cubic-bezier(0.07, -0.4, 0.25, 1) .25s;
    -moz-transition: border-color cubic-bezier(0.07, -0.4, 0.25, 1) .25s;
}
.logo-block a:nth-child(2) img {
    height: 100px;
    padding: 0px 10px;
    padding-top: 10px;

}
.logo-block a:nth-child(2):hover img {
    padding-top: 6px !important;
}
.logo-block a:hover img {
    border-top: solid 4px #fff;
    padding-top: 28px !important;
}
.navbar-default .navbar-toggle {
    border: 0px;
    z-index: 99999;
}
.social-icons i, .social-icons div {
    background-color: unset !important;
}
.social-foot .fa {
  color:#fff;
 transition: color ease .25s;

}
.social-foot i.fa-instagram{
  color:#fff;
}
.social-foot i.fa-twitter:hover {
    color: #4099FF;
}
.social-foot i.fa-instagram:hover {
    color: #3f729b;
    }
    .social-foot .fa-facebook:hover {
    color: #3b5998;
}
.social-icons i, .social-icons img {
    width: 35px;
    height: 29px;
    margin-top: 0;
    margin-right: 0px;
    font-size: 2em;
}
.social-foot h1 {
    color: #BA4533;
    font-family: 'Montserrat-Light';
    font-size: 1.5em;
    margin-bottom: 0;
}
.social-icons .fa {
    padding: 0px !important;
}
.social-foot h1 {
    color: #BA4533;
    font-family: 'Montserrat-Light';
    font-size: 1.5em;
    margin-bottom: 0;
    text-align: center;
    padding-left: 10px;
}
.footer-block {
    height: 150px;
    background-color: #2a2a2a;
}
p.copyright {
    color: rgb(186, 69, 51);
    font-size: .8em;
    padding-top: 10px;
}
.social-foot {
    margin-top: 0;
    border: unset;
    text-align: center;

}
.foot-sponsor {
    margin-top: 37.5px;
}
.social-icons a:nth-child(3) div img {
    padding-left: 0px;
    max-height: 29px;
    width: auto;
    margin-bottom: 17px;
    margin-top: 10px;
    padding-bottom: 0;
    transition: all ease .25s;
}
.social-icons a:nth-child(3) div img:hover {
    opacity: .5;
}

.navbar {
    background: linear-gradient( rgba(186, 69, 51, 1), rgba(186, 69, 51, .8) ), url('../top/text.jpg');
    min-height: 100px;
    border: none;
    -moz-box-shadow: 0px 1px 36px -6px #000;
    -webkit-box-shadow: 0px 1px 36px -6px #000;
    box-shadow: 0px 1px 36px -6px #000;
}

.au-banner {
    background: unset;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background-color: unset !important;
}
.social {
    margin-bottom: 0px;
    float: left;
}
ul.social_icons {
    vertical-align: super;
    margin-bottom: 10px;
    padding-top: 0px;
    margin-top: -5px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #2a2a2a !important;
    background-color: unset !important;
    max-height: 100px;
}
.navbar-nav li:hover a {
    background-color: rgba(186, 69, 51, 0) !important;
    color: #2a2a2a !important;
}
.dropdown-menu li:hover {
    background-color: #E4E4E4;
}
.navbar .row {
    margin-right: -15px;
    margin-left: -15px;
    margin: 0 auto;
    padding-left: 5%;
}
.social-icons i, .social-icons div{
background-color: rgba(42, 42, 42, 0);
background-color:unset;
}
.social-icons i:hover, .social-icons div:hover{
  background-color: rgba(42, 42, 42, 0);
background-color:unset;
}
.social-icons a:nth-child(3) div img{
  padding-left: 0px;
max-height: 29px;
width: 29px;
margin-bottom: 0;
margin-top: 0px;
padding-bottom: 0;
transition: all ease .25s;
}





/*================================================
==========***************************=============
==================================================
=************** Media Queries *******************=
==================================================
===========**************************=============
==================================================*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .navbar-default .navbar-nav > li > a {
    padding: 10px 10px;
}
 /* Header
==========================*/
  /* Hero
  ==========================*/
  /* video-block
  ==========================*/
  .video-block i {
    font-size: 5em;
    margin-bottom: 23px;
    margin-top: -93px; }

  /* dinners-block
  ==========================*/
  figure:hover > a .pos .title {
    font-size: 1.8em; }

  /* about
  ==========================*/
  .about-block .btn {
    margin-top: 55px; }

  /* ben-block
  ==========================*/
  ol.carousel-indicators {
    margin-bottom: -75px !important; }

  /* footer
  ==========================*/
  .team-mobile .payment-l, .team-mobile .payment-r {
    margin-top: 55px; }


     }


























/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {


 /* Header
==========================*/
  .navbar-brand {
    height: initial;
    width: 750px; }

  .navbar-brand img {
    position: relative !important;
    display: block;
    margin: 0 auto;
    max-height: 150px; }


.navbar-default .navbar-nav > li > a {
    padding: 10px 10px;
}
  .tagline span {
    font-size: .8em; }

  .navbar-nav li:hover {background-color: rgba(186, 69, 51, 0) !important;
    max-height: 100px; }

  /* Hero
  ==========================*/
  /* video-block
  ==========================*/
  .center-vid {
    left: 0; }

  /* dinners-block
  ==========================*/
  figure:hover > a .pos .title {
    font-size: 30px; }

  /* about
  ==========================*/
  .about-block .btn {
    margin-top: 25px; }

  /* ben-block
  ==========================*/
  .ben-block .btn {
    margin-top: 0; }

  /* footer
  ==========================*/



  .music {
    padding-left: 5%; }

  /*MEDIA PAGE
  =================*/
  .photos .title {
    font-size: 1.8em; }

  .photos figure:hover > a .pos .title {
    font-size: 1.8em; }

  .photos figure > a .pos .title {
    font-size: 1.8em; }

  /* ABOUT PAGE
  ===============*/
  .fred-photo {
    text-align: center; }

  .team-mobile .payment-l, .team-mobile .payment-r {
    margin-top: initial; }

  .reach-out {
    margin-top: 0 !important;
    text-align: center;
    padding: 0px 50px;
    margin-bottom: 80px; }


  .foot-sponsor {
    margin-right: 40px; }

  .navbar-brand.sub-logo {
    padding: 0 !important; }

.foot-sponsor {
    margin-top: 45px;
    margin-right: 0;
}

  .foot-sponsor a img {
    position: relative;
    display: block;
    max-height: 60px; } 


.col-xs-4.col-sm-1.col-sm-offset-3.foot-sponsor {
    margin-left: 10%;
}
.social-foot{
      margin-left: 10%;
}
.navbar .row {
    padding-left: 0;
}
  }



















/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .slick-slide img {
    max-height: 200px;
    opacity: 1 !important;
}
h4.copy{
  font-size:.7em;
}
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background-color: rgba(186, 69, 51, 0) !important;
}
  .welcome h1, .founder h1 {
    font-size: 2em;
}
.over-head h1 {
    color: #fff;
    font-size: 3em;
    padding-top: 66.5px;
}
.step h2, .paypal {
    text-align: center !important;
}
  .foot-sponsor a img {
    max-height: 80px; 
  }

  div#map {
    height: 500px !important;
    width: 100%; 
  }

  .over-location {
    height: 500px; 
  }

  .over-location hr {
    display: none; 
  }

  .over-location h1 {
    font-size: 3em; 
  }

  img.mobile-logo {
    height: 70px; 
  }

  .contact-photog {

    float: none !important;
     }

  .photog-info {
    text-align: center;
     }

  .navbar-nav li:hover {
    max-height: initial; 
  }

 /* Header
==========================*/
  .tagline {
    text-align: right;
    padding-right: 15px; 
  }

  .navbar-brand > img {
    margin-top: -10px; 
  }

  .subhead .row {
    background-color: #fff; 
  }

  div#navbar {
    height: initial !important; 
  }

  .navbar-default .navbar-nav > li > a {
    padding: 15px; }

  .nav > li {
    height: initial !important; }

  .navbar-brand {
    height: 0;
    width: initial; }

  .header-game, .header-about, .header-media, .header-dinner, .header-contact, .header-contribute {
    margin-top: -20px !important; }

  .header-game h1, .header-about h1, .header-media h1, .header-contact h1, .header-contribute h1 {
    font-size: 3.5em; }

  .header-dinner h1 {
    font-size: 2.5em !important; }

  /* Hero
  ==========================*/
  .item img {
    height: 525px !important; }

  /* video-block
  ==========================*/
  .video-title {
    font-size: 1em; }

  .video-block i {
    font-size: 5em;
    margin-bottom: 120px;
    margin-top: -190px; }

  /* dinners-block
  ==========================*/
  .vid-hover figure img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    opacity: .4;
    cursor: pointer; }

  figure > a .pos .title {
    padding-bottom: 50%;
    padding-top: 50%;
    font-size: 1.8em;
    opacity: 1;
    z-index: 1;
    background-color: rgba(23, 75, 141, 0.3); }

  figure:hover > a .pos .title {
    font-size: 1.8em; }

  /* about
  ==========================*/
  /* ben-block
  ==========================*/
  .ben-block .btn {
    margin-left: 16.666667%; }

  h1.col-md-12.ben-head {
    font-size: 4em; }

  /* footer
  ==========================*/
  .social-icons i, .social-icons div {
    width: 40px;
    height: 40px;
    margin-right: 2px;
    font-size: 2em; }

  .foot-sponsor a img {
    padding-left: 0;
    transform: scale(1);
    display: inline-block; }

  .social-foot {
    margin-top: 83px;
    padding-left: 40px; }

  .music {
    margin-top: 20px;
    text-align: center;
    transform: scale(1);
    padding-left: 0; }

  .footer-block {
    height: 320px; }

  .social-foot {
    margin-top: 0;
    padding-left: 0;
    text-align: center;
    transform: scale(0.9);
    border: none; }



  .foot-sponsor {
    margin-top: 30px;
    text-align: center;
    margin-right: initial !important; }

  /*MEDIA PAGE
  ==============*/
  .team-mobile {
    margin-top: 80px; }

  .mailable {
    margin-top: 80px; }

  .payment-l {
    border: none; }

  .photos figure > a .pos .title {
    font-size: 1.8em; }

.videos .title {
    font-size: 1.2em;
}
  /* ABOUT PAGE 
  =============*/
  .purpose h4 {
    font-size: 1.2em; }

  .registration h1 {
    font-size: 3em; }

  .location {
    height: 700px; }

  .reach-out {
    margin-top: 0 !important;
    text-align: center;
    padding: 0px 10px !important;
    margin-bottom: 80px; }

  .item img {
    max-height: 450px; }

  .carousel {
    height: 475px; }

  .dinner-button .title {
    font-size: 1.3em !important; }

  .videos figure > a .pos .title {
    padding-top: 25% !important;
    padding-bottom: 25% !important;
    font-size: 1em !important; }

  .home-car {
    margin-top: 50px !important; }



    .navbar-nav>li {
    float: none;
    display: block;
    text-align: left;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #2a2a2a !important;
    background-color: unset !important;
    max-height: unset;
}
.logo-block img {
    height: 47px !important;
    padding: 0 !important;
    padding-top: 5px !important;
  }

.au-banner{
  z-index:-1;
  height:0;
}
.social {
    margin-bottom: 5px;
    display: none;
}
.navbar{
      min-height: 50px;
    }
.collapse.in + .social {
    display: block;
}
.navbar-default .navbar-toggle {
        border: 0px;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #921B08;
}
.navbar-default .navbar-toggle .icon-bar {
background-color: #D6D6D6;
}
 .au-banner {
    width: 100%;
    background-color: rgb(186, 69, 51);
    z-index: 99 !important;
    display: block;
    position: relative;
    height: 0px !important;
}
.logo-block img {
    padding: 10px 2px !important;
}
.logo-block a:hover img {
    border: none !important;
    padding: 10px 2px !important;
}
.logo-block a:nth-child(2):hover img {
    padding: 2px !important;
}
.logo-block a:nth-child(2) img {
    padding: 2px !important;
}

.col-xs-4.col-sm-1.col-sm-offset-3.foot-sponsor {
    margin-left: 0px;
}
.social-foot {
    margin-left: 0;
}
.social-foot h1{
  padding-left:0px;
}
.footer-block {
    height: 260px;
}
.navbar .row {
  margin:0;
}
}





















/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .video-block i {
    font-size: 5em;
    margin-bottom: 80px;
    margin-top: -150px; }

 /* Header
==========================*/
  .navbar-brand > img {
    max-height: 100px;
    padding-left: 10px; }

  .tagline {
    float: right;
    margin-right: 15px; }

  /* Hero
  ==========================*/
  .item img {
    height: 300px !important; }

  /* video-block
  ==========================*/
  /* dinners-block
  ==========================*/
  .dinners-block h5 {
    padding: unset;
    padding-bottom: 30px; }

  figure > a .pos .title {
    padding-bottom: 50%;
    padding-top: 50%;
    font-size: 1.1em;
    opacity: 1;
    z-index: 1;
    background-color: rgba(23, 75, 141, 0.3); }

  figure:hover > a .pos .title {
    font-size: 1.1em; }

  /* about
  ==========================*/
  .header-contact h1 {
    font-size: 3.5em; }

  /* ben-block
  ==========================*/
  .donate-head {
    font-size: 1.3em; }

  h1.col-md-12.ben-head {
    font-size: 3em; }

  .ben-block {
    height: 730px;
    background-position: 50%; }

  .photos figure > a .pos .title {
    font-size: 1em; } 
  }



