@charset "utf-8";

html,body{
  font-family: 'lato', sans-serif;
  background-color: #fffafa;
  padding-top: 50px;
} 
h1{
  text-align: center;
  font-weight: 300;
  font-size: 43px;
}
h2{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: 200;
  font-size: 28px;
  width: 30em;
}


.photo{
  background-attachment: fixed;
  background-position: 50% 0px;
  background-repeat: no-repeat;
  height: 950px;
  position: relative;
}
.info{
  height: 245px;
  text-align: center;
  font-size: 4rem;
  font-color: #242424;
  font-weight: 300;

}

.open-photo > img {
display: block;
position: relative;
 margin-left: auto;
margin-right: auto;
top: 30%;
}

.main{
  height: auto;
  margin: 0 auto;
  position: relative;
}
.wrapper{
  width: 890px;
  height: 125px;
  margin: 0 auto;
  position: relative;
}


.wrapper > span {
  line-height:1;
  display: block;
  position: relative;
}
.divider {
  height:100px;
}
.open-photo {
  background-image:url('../images/left-coast-11.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

.feature{
  height: 80px;
  text-align: center;
  font-size: 2rem;
  font-color: #242424;
  font-weight: 400;
}
.images{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 658px;
  max-width: 77%;
  margin-top: -50px;
}
.About_image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 550px;
  max-width: 77%;
  margin-top: -50px;
}

.navbar{
  height: 50px;
  border: none;
}
.navbar-default {
  background-color: #fffafa;
}

.navbar-default .navbar-brand {
  color: #242424;
}
 
.navbar-nav > li > a > img {
  margin-left: -18px;
  margin-top: -5px;
}

.link-container{

  width: 50%;
  height: auto;
  position:relative;
}
.nextphoto{
  width: 50%;
  height: auto;
  position: relative;
  left:50%;
}
.prevphoto{
  width: 50%;
  height: auto;
  position: relative;
  left:25%;
}
.effects {
  padding-left:0px;
  position: absolute;
}
.effects .img{
  display: block;
  position: relative;
  float: left;
  width: 50%;
  height: auto;
  overflow: hidden;
}
.effects .img img{
  display: block;
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
}
.footer{
  display: inline-block;
  position: relative;
  margin-bottom: -19px;
  width: 100%;
 
  background-color: #222222;
}
.footer > p {
  color: #3f3f3f;
  margin-left: 5%;
  padding-top: 7px;
  font-size: 1.1em;
  font-weight: 200;

}

.overlay {
  display: block;
  position: absolute;
  z-index:20;
  background: rgba(0,0,0,0.51);
  overflow: hidden;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
p.about{
  font-size: 23px;
  font-weight: 200;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-color: #242424;
  width: 40em;
}

.overlay > a{
  text-decoration: none;
}
.prevBtn {
  margin-left: 30%;
}

.nextBtn{
  margin-left: 65%;
  margin-top: -27px;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 15px;
  font-weight: 125;
  line-height: 1.0;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  outline: none;
  box-shadow: none !impoartant;
  background-color: #fffafa;
  border: 0px solid transparent;
  border-radius: 0px;
}


a.close-overlay {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  width: 45px;
  height: 45px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  line-height: 45px;
  text-align: center;
  background-color: #000;
  cursor: pointer;
}

a.close-overlay.hidden {
  display: none;
}

a.expand {
  display: block;
  width: 50%;
  height: auto;
  position: absolute;
  z-index: 100;
  text-align: center;
  font-family: "Lato";
  font-weight: 300;
  color: #fff;
  line-height: 50px;
  font-size: 5.5rem;
  letter-spacing: .3rem;
  text-shadow: .7px .7px #000000;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 0px;
}

.link-block{ 
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;

  /* edit: added z-index */
  z-index: 1;

  /* edit: fixes overlap error in IE7/8, 
     make sure you have an empty gif 
  background-image: url('empty.gif');*/
}

a {
  text-decoration: none;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

#effect-6 .overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
}
#effect-6 .overlay a.expand {
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
  opacity: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#effect-6 .img.hover .overlay {
  opacity: 1;
}
#effect-6 .img.hover .overlay a.expand {
  top: 50%;
  margin-top: -30px;
  opacity: 1;
}


.mobile_img > img{
  width: 100%;
  margin-top: 30px;
}
.mobile_head{
  display: block;
  position: relative;
  width: 100%;
  height: 70px;
  background-color: #4c4c4c;
  color: #fff2f2;
  margin-bottom: -30px;
  padding-top: 13px;
  margin-top:-50px;

}
.mobile_head > p {
  font-weight: 100;
  font-size: 2.2em;
  text-align: center;
  margin-bottom: -20px;

}




/* PERODIC TABLE 
==================================*/
.pt-wrap{
  max-height:300px;
  width:100%;
  height:auto;
}
  .pt-button img{
    width:100%;
    height:auto;
}
.pt-hover{
 overflow:hidden;
}

/* Zoom In #1 */
.pt-hover figure img {
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
    opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.pt-hover figure:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
    opacity: .4;
  cursor:pointer;
}

figure {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.pt-wrap .pt-button:nth-child(1) figure{background: rgba(185,151,52,1);}
.pt-wrap .pt-button:nth-child(2) figure{background: rgba(39,31,48,1);}
.pt-wrap .pt-button:nth-child(3) figure{background: rgba(155, 197, 157,1);}
.pt-wrap .pt-button:nth-child(4) figure{background: rgba(208, 219, 151,1);}


.title {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    display: block;
    margin: 0;
    padding-top: 100%;
    padding-bottom: 100%;
    height: 100%;
    color: white;
    font-size: 22px;
    text-decoration: none;
    text-align: center;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    opacity: 1;
    width: 100%;
}


.pt-wrap .pt-button:nth-child(1) .title{background-color: rgba(185,151,52,1);}
.pt-wrap .pt-button:nth-child(2) .title{background-color: rgba(39,31,48, 1);}
.pt-wrap .pt-button:nth-child(3) .title{background-color: rgba(155, 197, 157,1);}
.pt-wrap .pt-button:nth-child(4) .title{background-color: rgba(208, 219, 151,1);}

figure:hover > a .parent .title {

    opacity: 1;
    z-index: 1;
}

.pt-wrap .pt-button:nth-child(1) figure:hover > a .parent .title{background-color: rgba(185,151,52,.3);}
.pt-wrap .pt-button:nth-child(2) figure:hover > a .parent .title{background-color: rgba(39,31,48,.3);}
.pt-wrap .pt-button:nth-child(3) figure:hover > a .parent .title{background-color: rgba(155, 197, 157,.3);}
.pt-wrap .pt-button:nth-child(4) figure:hover > a .parent .title{background-color: rgba(208, 219, 151,.3);}


.parent{
  position:relative;
}

.title h1 {
    margin: 0;
    padding: 0;
    font-weight: 400;
}

.pos h5 {
    text-align: left;
    margin: 0;
    padding: 0;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: -30px;
}
.pt-button {
    padding: 0;
}

.pos h1, .pos h5, .pos p {
    color: #fff;
    font-weight: 300;
}
.pos h1 {
    font-size: 14vw;
    margin-top: 30px;
}
.title p {
    margin: 0;
    font-size: 1.8vw;
}
.pt-button:last-child {
    padding: 0;
    margin-bottom: 70px;
}



/*******************************
        portfolio
        */






/*******************************
        MEDIA QUERIES
********************************/

@media only screen and (max-width: 784px) {

.pos h1 {
    font-size: 63vw;
    margin-top: 30px;
}
.title p {
    margin: 0;
    font-size: 8.8vw;
}

.pos h5 {
    font-size: 6vw;
}
}



@media only screen and (max-width: 680px){

.photo.open-photo{
  height: 500px;
  width: auto;
}

.open-photo > img {
display: block;
position: relative;
 margin-left: auto;
margin-right: auto;
top: 200px;
width: 80%;
height: auto;
}

#effect-6{
  padding-top: 70px;

}
 .effects .img{
  float: none !important;
  width:100%;
}
#effect-6 .overlay{
  opacity: 1;
}
#effect-6 .overlay a.expand {
    top: 50%;
  margin-top: -30px;
  opacity: 1;
}
a.expand{
  width:initial;
}

.info {
  height: 245px;
  text-align: center;
  font-size: 4rem;
  font-color: #242424;
  font-weight: 300;
}
.info > span > br {
  display: none;

}
.footer{
  margin-bottom:0px;
}
.footer > p {
  text-align: center;
  margin-left:0%;
  font-weight: 400;
  font-size: .9em;
 }
.overlay a {

}
}




