.header-couns {
    width: 100%;
    height: 250px;
    text-align: center;
    background-image: url("../img/AU2014webready/83.jpg");  
      background-position: right 27%;
    background-size:cover;
    margin-top: -20px;
        background-repeat: no-repeat;
}
.over-head h1 {
    color: #fff;
    font-size: 5em;
    padding-top: 66.5px;
}