/* Hero
==========================*/
.carousel-control.right, .carousel-control.left {
    background-image: none;
}
.home-car {
    margin-top: -20px;
}
.item img {
    max-height: 550px;
    height: 550px !important;
    max-width: unset !important;
    width: auto;
    margin: 0 auto;
}
.home-car .item img {
    width: 100% !important;
    height: auto !important;
    max-height: unset !important;
}

.container.logo img {
    height: 150px;
    width: auto;
    margin-top: -50px;
    margin-bottom: -25px;
}
img.col-sm-6.second-logo {
    float: right;
}
h1.video-header.col-xs-12 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 20px;
    margin-top: 0;
}
.carousel{
    height:575px;
}
.back-fade {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

/* Main Block
========================*/
.main-page {

     z-index: 9999;
    position: relative;
    background-color: #fff;
}

/* Video Block
========================*/

/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0; padding:0; margin:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#000; opacity: 0.9; filter: alpha(opacity = 90);}
#colorbox{outline:0;}
    #cboxContent{margin-top:20px;background:#000;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{border:5px solid #000; background:#fff;}
        #cboxTitle{position:absolute; top:-20px; left:0; color:#ccc;}
        #cboxCurrent{position:absolute; top:-20px; right:0px; color:#ccc;}
        #cboxLoadingGraphic{background:url(../images/loading.gif) no-repeat center center;}

        /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
        #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; width:auto; background:none; }
        
        /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}
        
        #cboxSlideshow{position:absolute; top:-20px; right:90px; color:#fff;}
        #cboxPrevious{position:absolute; top:50%; left:5px; margin-top:-32px; background:url(../images/controls.png) no-repeat top left; width:28px; height:65px; text-indent:-9999px;}
        #cboxPrevious:hover{background-position:bottom left;}
        #cboxNext{position:absolute; top:50%; right:5px; margin-top:-32px; background:url(../images/controls.png) no-repeat top right; width:28px; height:65px; text-indent:-9999px;}
        #cboxNext:hover{background-position:bottom right;}
        #cboxClose{position:absolute; top:5px; right:5px; display:block; background:url(../images/controls.png) no-repeat top center; width:38px; height:19px; text-indent:-9999px;}
        #cboxClose:hover{background-position:bottom center;}

 

 .video-block img {
    width: 100%;
    height: auto;
}
.video-block {
    
    margin-bottom: 40px;
}
.video-title {
    width: 100%;
    text-align: center;
    font-size: 1.1em;
    color: #fff;
    background-color: #174B8D;
    padding: 10px 15px;
}
a.vimeo.cboxElement {
    text-decoration: none;
    outline: none;
}

.center-vid {
    display: block;
    width: 100%;
    position: relative;
    margin-top:80px;
}
.video-block i {
    display: block;
    position: relative;
    width: 100%;
    font-size: 6em;
    text-align: center;
    margin-bottom: 54px;
    margin-top: -138px;
    color: #fff;
    opacity: .7;
}
.video-block:hover i {
    opacity: .9;
}








.videos .title {
    font-size: 1em;
}
.videos .dinner-button {
    margin-bottom: 10px;
    margin-left: -8px;
    margin-right: -7px;
}
.videos figure:hover > a .pos .title {
    font-size: 1em !important;
    padding-bottom: 25% !important;
    padding-top: 25% !important;
}
/* Dinners Block
========================*/
.dinners-block {
    text-align: center;
    margin-top:40px;
}
.dinners-block h1 {
    margin-bottom: 30px;
    margin-top: 0;
}
.dinners-block h5 {
    padding: 0 15%;
    margin-bottom: 20px;
}

.dinner-button img{
    width:100%;
    height:auto;
}
.vid-hover{
 overflow:hidden;
}

/* Zoom In #1 */
.vid-hover figure img {
	-webkit-transform: scale(1.01);
	transform: scale(1.01);
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
  	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.vid-hover figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
  	opacity: .4;
  cursor:pointer;
}

figure {
	margin: 0;
	padding: 0;
	background: #CF5300;
	overflow: hidden;
}
.title {
    position: absolute;
    left: 0;
    bottom: 0px;
    z-index: 1;
    display: block;
    margin: 0;
    padding: 10px 0;
    color: white;
    font-size: 22px;
    text-decoration: none;
    text-align: center;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    opacity: 1;
    font-family: 'Montserrat-Regular';
    width: 100%;
    background-color: rgba(207, 83, 0, 0.7);;
}
figure:hover > a .pos .title {
    padding-bottom: 50%;
    padding-top: 50%;
    font-size:30px;
    opacity: 1;
    z-index: 1;
    background-color: rgba(23,75,141,.3);
}

.pos{
  position:relative;
}
/* Location Block 
==========================*/
div#map {
    height: 320px;
    width: 100%;
}
.about-block h1 {
    margin-top: 80px;
}

.gm-style-cc, .gmnoprint {
    display: none !important;
}
.over-location {
    position: absolute;
    z-index: 50;
    width: 100%;
    text-align: center;
    height: 320px;
    background: rgba(0,0,0,.3);
    color: #fff;
}


.over-location h1 {
    font-size: 6em;
}
.over-location h2 {
    margin-top: 60px;
    text-shadow: 1px 1px 2px #000;
}
.over-location hr {
    margin-top: 70px;
}
.over-location h3 {
    margin-top: 30px;
}
.location-block {
    margin-top: 80px;
}
.loc-link, .loc-link:hover {
    color: #fff;
    text-decoration: none;
}
/* About Block
========================*/
.about-block {
    margin-top: 20px;
    text-align:center;
}
.about-block .btn {
    margin-top: 45px;
    padding: 12px 24px;
    background-color: #CF5308;
    color: #fff;
    -webkit-transition: background-color .2s ease-out;
    -moz-transition: background-color .2s ease-out;
    -o-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
}
.over-location .btn {
    margin-top: 10px;
    padding: 7px 45px;
    background-color: #CF5308;
    color: #fff;
        -webkit-transition: background-color .2s ease-out;
    -moz-transition: background-color .2s ease-out;
    -o-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
}
.about-block .btn:hover, .over-location .btn:hover, .au-btn:hover {
    background-color: rgb(140, 68, 1);
    color:#fff;
}
.fred-para{
    padding-top:50px;
}
.au-btn{
    padding: 12px 24px;
    background-color: #CF5308;
    color: #fff;
    -webkit-transition: background-color .2s ease-out;
    -moz-transition: background-color .2s ease-out;
    -o-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    }

/* Headers
========================*/
.over-head {
    position: absolute;
    z-index: 50;
    width: 100%;
    text-align: center;
    height: 250px;
    background: rgba(0,0,0,.6);
    color: #fff;
}
