.cost li {
    padding-left: 5%;
}
.cost {
    margin-bottom: 80px;
}
.online-app, .mail-app {
    text-align: center;
}
.pay-icons .fa {
    margin-bottom: 15px;
    font-size: 1.5em;
}
.online-app {
    border-right: 1px solid #ccc;
    margin-bottom:80px;
}
.cost-img img {
    max-width: 100%;
    margin-top: 20px;
}
.right-app{
	margin-bottom:80px;
}
.reg-p {
    margin-top: 40px;
    margin-bottom:80px;
    padding: 0 5%;
    text-align: center;
}
i.fa.fa-asterisk {
    font-size: 3em;
    color: #ccc;
}
.step h2 {
    margin-top: 5px !important; 
    text-align: right !important;
}
.paypal {
    text-align: left !important;
}
.header-reg {
    width: 100%;
    height: 250px;
    text-align: center;
    background-image: url("../img/AU2014webready/18.jpg");
    background-position: right 75%;
    background-size: cover;
    margin-top: -20px;
    background-repeat: no-repeat;
}