@charset "utf-8";

html,body{
 font-family: 'Raleway', sans-serif;
  font-color: #000;
  color: #000;
  background-color: #FFF;
  margin-top: 50px;
  display: block;
  position: relative;
  z-index: 10;
} 

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.divider_1{   
    display: block;
    position: absolute; 
    margin-left: 10%;
    left:85px;
    top:15%;
    bottom:15%;
    border-left:1px solid #FFFafa;
    opacity: 80%;
}
.divider_2{}

.email{
  color: #FFFAFA;
  padding-left: 100px;
  font-weight: 300;
  font-size: 1.05em;

}
a[data-fluidbox] {
    background-color: #2a2a2a;
    border: none;
    cursor: -webkit-pointer;
    cursor: -moz-pointer;
    margin-bottom: 1.5rem;
}
    a[data-fluidbox].fluidbox-opened {
        cursor: -webkit-pointer;
        cursor: -moz-pointer;
    }
a[class^='float'] {
    margin: 1rem;
    margin-top: 0;
    width: 33.33333%;
}
a.float-left {
        float: left;
        margin-left: 0;
    }
    a.float-right {
        float: right;
        margin-right: 0;
    }
a[data-fluidbox] img {
    display: block;
    margin: 0 auto;
    opacity: 0;
    max-width: 100%;
    transition: all .25s ease-in-out;
}
#fluidbox-overlay {
    background-color: rgba(0,0,0,.85);
    cursor: pointer;
    cursor: -webkit-zoom-out;
    cursor: -moz-zoom-out;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 500;
}
.fluidbox-wrap {
    background-position: center center;
    background-size: cover;
    margin: 0 auto;
    position: relative;
    z-index: 400;
    transition: all .25s ease-in-out;
}
    .fluidbox-opened .fluidbox-wrap {
        z-index: 600;
    }
.fluidbox-ghost {
    background-size: cover;
    background-position: center center;
    position: absolute;
    transition: all .25s ease-in-out;
    }


.fluidbox-overlay {
  background-color: rgba(0, 0, 0, 0.90);
  cursor: pointer;
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
  cursor: zoom-out;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* Transition time for overlay is halved to ensure that flickering doesn't happen */
  transition: all 0.125s ease-in-out 0.125s; }

.monogram {
  display: block;
  position: absolute;
  height: 45px;
  top: 12.5px;
  width: auto;
  float: left;
  
}

.navbar-custom {
	background-color: #2a2a2a;
	border-color: #2a2a2a;
	font-color: #FFF;
}

.navbar-custom > a{
	font-color: #FFF;
	text-decoration: none;
}
#container{
	margin: 0 auto;
}

.image{
	width: 375px;
	height: 375px;
}
.middle {
	background-color: black;
	overflow: hidden;
	width: 100%;
	height: 0px;
}
.trigger {
    display: block;
    position: absolute;
    top: 30px;
    left: 30px;
    background-color: black;
    width: 50px;
    height: 50px;
}

.masonry {
	background: #EEE;
	max-width: 640px;
}
.masonry:after {
	content: '';
	display: block;
	clear: both;
}
.item {
 width:  375px;
  height: 375px;
  float: left;
  margin-bottom: 35px;
  /*background: #D26;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
  */
}
.thumb{ 
	width: 375px;
	height: 375px;
}

.thumbh{
	width: 375px;
	height: 550px;

}
.thumbw{
	width: 785px;
	height: 375px;
}
.item.w2 { width: 785px;}
.item.h2 { height: 550px; }

.item.gigante{
	width: 500px;
	height: 5000px;
}
.item:hover {
	background: #FFFAFA;
	opacity: 80%;
	border-color: white;
	cursor: pointer;
}

.photo{
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 685px;
  position: relative;
}
.open-photo {
  background-image:url('../images/mark-aboutC.jpg');
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: cover;
  background-attachment: fixed;
  background-position: right;

}
.about-back{
	display: block;
	position: relative;
	width: 400px;
	height: 590px;
	background-color: #FFF;
	opacity: .8;
	left: 10%;
	top: 47.5px;
	z-index: 1;

}
.about-back > h1{
	display: block;
	position: relative;
	text-align: center;
	font-size: 2.2rem;
	top: 35px;
	line-height: 25px;
}
.about-back > span{
	display: block;
	position: relative;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.3rem;
	width: 345px;
	line-height: 25px;
	top: 60px;
	z-index: 1;
}
.footer{
	display: block;
	position: relative;
	width: 100%;
	height: 70.5px;
	background-color: #222222;
	z-index: 600;
}
.f_wrap{
  display: block;
  position: absolute;
  left: 10%;
}
.svg:hover path
{
  fill: #fffafa;
}
.social > a{
  text-decoration: none;

}
#icon-1{
  display: block;
  margin-top: 21.5px;
  color: #fffafa;
  height: 25px;
  margin-right: 10%;
  float: right;
}
#icon-2{
  display: block;
   margin-top: 21.5px;
  height: 25px;
  padding-right: 15px;
  float: right;
}
#icon-3{
  display: block;
   margin-top: 21.5px;
  height: 25px;
  padding-right: 15px;
  float: right;
}
.wrap {
  display: block;
  max-width: 1400px;
  padding: 0 10%;
}
 
#content {
  padding: 110px 0;
}
 #logo {
  display: block;
  float: left;
  color: #fff;
  font-size: 1.85em;
  line-height: 35px;
  padding-top: 20px;
}
#header {
  display: block;
  width: 100%;
  height: 70px;
  background: #000;
  -webkit-box-shadow: 1px 2px 4px rgba(0,0,0,0.4);
  -moz-box-shadow: 1px 2px 4px rgba(0,0,0,0.4);
  box-shadow: 1px 2px 4px rgba(0,0,0,0.4);
     opacity: 0.9;
}
.fixed{
  position: fixed;
  z-index: 999;
  right: 0;
  left: 0;
  top: 0;
}

#navmenu {
  display: block;
  float: right;
}
#navmenu li {
  display: block;
  float: left;	
}
 
#navmenu li a {
  display: block;
  float: left;
  padding: 20px 15px;
  font-size: 1.2em;
  line-height: 35px;
  color: #fff;
  text-decoration: none;
}
 
#navmenu li a:hover {
  background: none;
}
 
 
/** simple responsive updates **/
 
@media screen and (max-width: 500px) {
  #navmenu li a { font-size: 1.2em; padding: 0 15px; }
  
  #logo { 
  	font-size: 2.1em; 
  	color: #FFF;
  	padding: 0 15px;
  }
  
  h1 { font-size: 2.7em; }
  p { font-size: 1.6em; }
}

/** headroom.js animated styles **/
.slide{
  -webkit-transition:all .25s ease-in-out;
  -moz-transition:all .25s ease-in-out;
  -o-transition:all .25s ease-in-out;
  transition:all .25s ease-in-out;
}

.slide--reset{
  -webkit-transform:translateY(0);
  -ms-transform:translateY(0);
  transform:translateY(0);
}

.slide--up{
  -webkit-transform:translateY(-100%);
  -ms-transform:translateY(-100%);
  transform:translateY(-100%);
}


.animated{
  -webkit-animation-duration:.5s;
  -moz-animation-duration:.5s;
  -o-animation-duration:.5s;
  animation-duration:.5s;
  -webkit-animation-fill-mode:both;
  -moz-animation-fill-mode:both;
  -o-animation-fill-mode:both;
  animation-fill-mode:both;
}

@-webkit-keyframes slideDown{
  0%{ -webkit-transform:translateY(-100%)}
  100%{-webkit-transform:translateY(0)}
}
@-moz-keyframes slideDown{
  0%{-moz-transform:translateY(-100%)}
  100%{-moz-transform:translateY(0)}
}
@-o-keyframes slideDown{
  0%{-o-transform:translateY(-100%)}
  100%{-o-transform:translateY(0)}
}
@keyframes slideDown{
  0%{transform:translateY(-100%)}
  100%{transform:translateY(0)}
}

.animated.slideDown{
  -webkit-animation-name:slideDown;
  -moz-animation-name:slideDown;
  -o-animation-name:slideDown;
  animation-name:slideDown;
}
@-webkit-keyframes slideUp{
  0%{-webkit-transform:translateY(0)}
  100%{-webkit-transform:translateY(-100%)}
}

@-moz-keyframes slideUp{
  0%{-moz-transform:translateY(0)}
  100%{-moz-transform:translateY(-100%)}
}

@-o-keyframes slideUp{
  0%{-o-transform:translateY(0)}
  100%{-o-transform:translateY(-100%)}
}
@keyframes slideUp{
  0%{transform:translateY(0)}
  100%{transform:translateY(-100%)}
}

.animated.slideUp{
  -webkit-animation-name:slideUp;
  -moz-animation-name:slideUp;
  -o-animation-name:slideUp;
  animation-name:slideUp;
}

@-webkit-keyframes swingInX{
  0%{-webkit-transform:perspective(400px) rotateX(-90deg)}
  100%{-webkit-transform:perspective(400px) rotateX(0deg)}
}
@-moz-keyframes swingInX{
  0%{-moz-transform:perspective(400px) rotateX(-90deg)}
  100%{-moz-transform:perspective(400px) rotateX(0deg)}
}
@-o-keyframes swingInX{
  0%{-o-transform:perspective(400px) rotateX(-90deg)}
  100%{-o-transform:perspective(400px) rotateX(0deg)}
}
@keyframes swingInX{
  0%{transform:perspective(400px) rotateX(-90deg)}
  100%{transform:perspective(400px) rotateX(0deg)}
}

.animated.swingInX{
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  -ie-transform-origin: top;
  -o-transform-origin: top;
  transform-origin: top;
  -webkit-backface-visibility:visible !important;
  -webkit-animation-name: swingInX;
  -moz-backface-visibility: visible !important;
  -moz-animation-name: swingInX;
  -o-backface-visibility: visible !important;
  -o-animation-name: swingInX;
  backface-visibility:visible !important;
  animation-name: swingInX;
}

@-webkit-keyframes swingOutX{
  0%{-webkit-transform:perspective(400px) rotateX(0deg)}
  100%{-webkit-transform:perspective(400px) rotateX(-90deg)}
}

@-moz-keyframes swingOutX{
  0%{-moz-transform:perspective(400px) rotateX(0deg)}
  100%{-moz-transform:perspective(400px) rotateX(-90deg)}
}
@-o-keyframes swingOutX{
  0%{-o-transform:perspective(400px) rotateX(0deg)}
  100%{-o-transform:perspective(400px) rotateX(-90deg)}
}
@keyframes swingOutX{
  0%{transform:perspective(400px) rotateX(0deg)}
  100%{transform:perspective(400px) rotateX(-90deg)}
}

.animated.swingOutX{
  -webkit-transform-origin: top;
  -webkit-animation-name: swingOutX;
  -webkit-backface-visibility:visible !important;
  -moz-animation-name: swingOutX;
  -moz-backface-visibility:visible !important;
  -o-animation-name: swingOutX;
  -o-backface-visibility: visible !important;
  animation-name: swingOutX;
  backface-visibility:visible !important}


@-webkit-keyframes flipInX{
  0%{-webkit-transform:perspective(400px) rotateX(90deg);opacity:0}
  100%{-webkit-transform:perspective(400px) rotateX(0deg);opacity:1}
}
@-moz-keyframes flipInX{
  0%{-moz-transform:perspective(400px) rotateX(90deg);opacity:0}
  100%{-moz-transform:perspective(400px) rotateX(0deg);opacity:1}
}
@-o-keyframes flipInX{
  0%{-o-transform:perspective(400px) rotateX(90deg);opacity:0}
  100%{-o-transform:perspective(400px) rotateX(0deg);opacity:1}
}
@keyframes flipInX{
  0%{transform:perspective(400px) rotateX(90deg);opacity:0}
  100%{transform:perspective(400px) rotateX(0deg);opacity:1}
}

.animated.flipInX{
  -webkit-backface-visibility:visible !important;
  -webkit-animation-name: flipInX;
  -moz-backface-visibility: visible !important;
  -moz-animation-name: flipInX;
  -o-backface-visibility: visible !important;
  -o-animation-name: flipInX;
  backface-visibility: visible !important;
  animation-name: flipInX;
}

@-webkit-keyframes flipOutX{
  0%{-webkit-transform:perspective(400px) rotateX(0deg);opacity:1}
  100%{-webkit-transform:perspective(400px) rotateX(90deg);opacity:0}
}
@-moz-keyframes flipOutX{
  0%{-moz-transform:perspective(400px) rotateX(0deg);opacity:1}
  100%{-moz-transform:perspective(400px) rotateX(90deg);opacity:0}
}
@-o-keyframes flipOutX{
  0%{-o-transform:perspective(400px) rotateX(0deg);opacity:1}
  100%{-o-transform:perspective(400px) rotateX(90deg);opacity:0}
}
@keyframes flipOutX{
  0%{transform:perspective(400px) rotateX(0deg);opacity:1}
  100%{transform:perspective(400px) rotateX(90deg);opacity:0}
}

.animated.flipOutX{
  -webkit-animation-name: flipOutX;
  -webkit-backface-visibility: visible !important;
  -moz-animation-name: flipOutX;
  -moz-backface-visibility: visible !important;
  -o-animation-name: flipOutX;
  -o-backface-visibility: visible !important;
  animation-name: flipOutX;
  backface-visibility: visible !important;
}

@-webkit-keyframes bounceInDown{0%{opacity:0;-webkit-transform:translateY(-200px)}60%{opacity:1;-webkit-transform:translateY(30px)}80%{-webkit-transform:translateY(-10px)}100%{-webkit-transform:translateY(0)}}

@-moz-keyframes bounceInDown{0%{opacity:0;-moz-transform:translateY(-200px)}60%{opacity:1;-moz-transform:translateY(30px)}80%{-moz-transform:translateY(-10px)}100%{-moz-transform:translateY(0)}}

@-o-keyframes bounceInDown{0%{opacity:0;-o-transform:translateY(-200px)}60%{opacity:1;-o-transform:translateY(30px)}80%{-o-transform:translateY(-10px)}100%{-o-transform:translateY(0)}}

@keyframes bounceInDown{0%{opacity:0;transform:translateY(-200px)}60%{opacity:1;transform:translateY(30px)}80%{transform:translateY(-10px)}100%{transform:translateY(0)}}

.animated.bounceInDown{
  -webkit-animation-name:bounceInDown;
  -moz-animation-name:bounceInDown;
  -o-animation-name:bounceInDown;
  animation-name:bounceInDown;
}
@-webkit-keyframes bounceOutUp{
  0%{-webkit-transform:translateY(0)}
  30%{opacity:1;-webkit-transform:translateY(20px)}
  100%{opacity:0;-webkit-transform:translateY(-200px)}
}
@-moz-keyframes bounceOutUp{
  0%{-moz-transform:translateY(0)}
  30%{opacity:1;-moz-transform:translateY(20px)}
  100%{opacity:0;-moz-transform:translateY(-200px)}
}
@-o-keyframes bounceOutUp{
  0%{-o-transform:translateY(0)}
  30%{opacity:1;-o-transform:translateY(20px)}
  100%{opacity:0;-o-transform:translateY(-200px)}
}
@keyframes bounceOutUp{
  0%{transform:translateY(0)}
  30%{opacity:1;transform:translateY(20px)}
  100%{opacity:0;transform:translateY(-200px)}
}

.animated.bounceOutUp{
  -webkit-animation-name:bounceOutUp;
  -moz-animation-name:bounceOutUp;
  -o-animation-name:bounceOutUp;
  animation-name:bounceOutUp;
}







#effect-6 .overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
}
#effect-6 .overlay a.expand {
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
  opacity: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#effect-6 .img.hover .overlay {
  opacity: 1;
}
#effect-6 .img.hover .overlay a.expand {
  top: 50%;
  margin-top: -30px;
  opacity: 1;
}



/* Effect 5: same word slide in */
.cl-effect-5 a {
  overflow: hidden;
  height: 1.0 em;
}

.cl-effect-5 a span {
  position: relative;
  display: inline-block;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}

.cl-effect-5 a span::before {
  position: absolute;
  top: 100%;
  content: attr(data-hover);
  font-weight:300;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);

}

.cl-effect-5 a:hover span,
.cl-effect-5 a:focus span {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  transform: translateY(-100%);
}

.cl-effect-5 > a {
  position: relative;
  display: inline-block;
  margin: 24.5px 0;
  outline: none;
  color: #fffafa;
  text-decoration: none;
  font-weight: 200;
  text-shadow: 0 0 1px rgba(255,255,255,0.3);
  font-size: .95em;
}

.cl-effect-5 > a:hover,
.cl-effect-5 > a:focus {
  outline: none;
}




